/* ----- 头部样式 ----- */

/* 背景颜色、高度、底部阴影线 */
.layui-layout-admin .layui-header {
    background-color: #fff;
    height: 50px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after,
.layui-layout-admin .layui-header .layui-nav-bar {
    height: 2px;
    background-color: #03152a;
    top: 0 !important;
}

/* 按钮颜色、间距、悬浮小手 */
.layui-layout-admin .layui-header .layui-nav-item a {
    color: #333333;
    padding: 0 15px;
    cursor: pointer;
}

/* 按钮悬浮时的颜色 */
.layui-layout-admin .layui-header .layui-nav-item a:hover {
    color: #333333;
}

/* 顶部导航 logo 样式 */
.layui-layout-admin .layui-header .layui-logo {
    width: 200px;
    background-color: #324157;
    color: #f2f2f2;
    font-size: 18px;
    font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    line-height: 50px;
    transition: all .3s;
    white-space: nowrap;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
}

/* 头部水平居中 */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item {
    line-height: 50px;
    vertical-align: unset;
}

.layui-layout-admin .layui-header .layui-nav-item .layui-icon {
    font-size: 16px;
}

.layui-layout-admin .layui-header .layui-logo img {
    height: 35px;
}

/* 面包屑样式 */
.layui-layout-admin .layui-header .layui-nav .layui-breadcrumb {
    margin-left: 10px;
}

.layui-nav-child {
    top: 55px;
}

.layui-layout-admin .layui-header .layui-nav {
    padding: 0 10px;
}

/* ----- 头部样式 ----- */


/* ----- tab 样式 ----- */

/* tab 底色 */
.layui-layout-admin .layui-tab .layui-tab-title li.layui-this,
.layui-layout-admin .layui-tab .layui-tab-title li:hover {
    background-color: #f6f6f6;
}

/* tab 下划线 */
.layui-tab-title {
    border-bottom-width: 0;
}

/* 导航最小宽度 */
.layui-layout-admin .layui-tab .layui-tab-title li {
    min-width: 0;
    line-height: 40px;
    max-width: 160px;
    text-overflow: ellipsis;
    padding-right: 30px;
    overflow: hidden;
    border-right: 1px solid #f6f6f6;
    vertical-align: top;
}

/* 关闭按钮样式 */
.layui-layout-admin .layui-tab > .layui-tab-title li .layui-tab-close {
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 8px;
}

/* tab 顶部颜色 */
.layui-layout-admin .layui-tab-title li.layui-this:after {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #292B34;
}

/* tab 顶部切换动画 */
.layui-layout-admin .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: #292B34;
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-transition: all .3s;
}

/* 隐藏第一个 tab 的关闭按钮 */
.layui-layout-admin .layui-tab > .layui-tab-title li:first-child .layui-tab-close {
    display: none;
}

/* 标签卡第一个的标签没有关闭按钮, 所以距离右侧的宽度 15px */
.layui-layout-admin .layui-tab > .layui-tab-title li:first-child {
    padding: 0 15px;
}

/* tab 页距离顶部距离为 0 */
.layui-layout-admin .layui-tab {
    margin-top: 0;
}

/* 距离顶部的距离和左侧导航的距离 */
.layui-layout-admin .layui-body {
    left: 200px;
    top: 50px;
}

/* tab 行的高度, 背景色等 */
.layui-pagetabs {
    height: 40px;
    line-height: 40px;
    padding: 0 80px 0 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

/* ----- tab 样式 ----- */


/* ----- tab 左右按钮样式 ----- */

.layui-layout-admin .layui-body .admin-tabs-control {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border-left: 1px solid #eee;
    z-index: 1000;
    background-color: white
}

.layui-layout-admin .layui-body .admin-tabs-control:hover {
    background-color: #eee
}

.layui-layout-admin .layui-body .layui-icon-shrink-right {
    left: 0;
    border-left: none;
    border-right: 1px solid #eee
}

.layui-layout-admin .layui-body .layui-icon-refresh-3 {
    right: 0
}

/* ----- tab 左右按钮样式 ----- */


/* ----- 导航样式 ----- */


/* 导航背景颜色 */
.layui-layout-admin .layui-side {
    position: absolute;
    top: 50px;
    width: 200px;
    background-color: #324157;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.layui-layout-admin .layui-side .layui-nav {
    width: 200px;
    background-color: transparent;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -25px;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item a {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/* 一级导航悬浮字体颜色和背景颜色 */
.layui-layout-admin .layui-side .layui-nav .layui-nav-item > a:hover {
    color: #BFCBD9;
    background: #263445;
}

/* 一级导航被选中时背景颜色和字体颜色 */
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
    background-color: #324157;
    color: rgb(64, 158, 255)
}

/* 二级导航基础颜色 */
.layui-nav-itemed > .layui-nav-child {
    display: block;
    padding: 0;
    background-color: #1f2d3d !important;
}

/* 二级导航悬浮字体背景颜色 */
.layui-layout-admin .layui-side .layui-nav .layui-nav-item dl dd > a:hover {
    background-color: #01101f;
}

/* 二级导航被选中时背景颜色和字体颜色 */
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree dd.layui-this {
    background-color: #1f2d3d !important;
    color: rgb(64, 158, 255)
}

/* this 导航选中时, 颜色不变 */
.layui-layout-admin .layui-side .layui-nav .layui-nav-item.layui-this > a:hover {
    color: rgb(64, 158, 255)
}


/* 去除悬浮时左侧的绿条 */
.layui-nav-tree .layui-nav-bar {
    width: 0;
}

/* 导航菜单展开时颜色 */
.layui-nav-itemed > a {
    color: #BFCBD9 !important;
}

.layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
    color: #BFCBD9;
    background: #001528 0 0;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-more {
    right: 15px
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child a {
    padding-left: 70px;
    cursor: pointer
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child .layui-nav-child a {
    padding-left: 70px
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child .layui-nav-child .layui-nav-child a {
    padding-left: 90px
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child .layui-nav-child .layui-nav-child .layui-nav-child a {
    padding-left: 110px
}

/* 一级目录额外的高度 */
.layui-layout-admin .layui-side .layui-nav .layui-nav-item > a {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer
}

/* ----- 导航样式 ----- */


/* ----- 导航收起样式 ----- */

.layui-layout-admin.admin-nav-mini .layui-header .layui-logo {
    width: 60px
}

.layui-layout-admin.admin-nav-mini .layui-header .layui-logo cite {
    display: none
}

.layui-layout-admin.admin-nav-mini .layui-header .layui-layout-left {
    left: 60px
}

.layui-layout-admin.admin-nav-mini .layui-side {
    width: 60px
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav {
    width: 60px
}

.layui-layout-admin.admin-nav-mini .layui-side-scroll {
    width: 80px
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a > cite {
    display: none
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a .layui-nav-more {
    display: none
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a {
    overflow: visible
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-itemed .layui-nav-child {
    display: none
}

.layui-layout-admin.admin-nav-mini .layui-body {
    left: 60px
}

.layui-layout-admin.admin-nav-mini .layui-footer {
    left: 60px
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav li.layui-nav-itemed > a {
    background: rgba(0, 0, 0, .3)
}

.layui-layout-admin.admin-nav-mini .layui-header .layui-icon-shrink-right:before {
    content: "\e66b"
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item.admin-nav-hover > .layui-nav-child {
    display: inline-block;
    position: fixed;
    top: 105px;
    left: 65px;
    background: #24262f !important;
    min-width: 200px;
    z-index: 1001
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item.admin-nav-hover .layui-nav-itemed > .layui-nav-child {
    display: block
}

/* ----- 导航收起样式 ----- */


/* ----- 导航小屏幕样式 -----*/

@media screen and (max-width: 750px) {
    .layui-layout-admin .layui-side {
        position: fixed;
        left: -260px;
        z-index: 10000
    }

    .layui-layout-admin .layui-body {
        left: 0
    }

    .layui-layout-admin .layui-footer {
        left: 0
    }

    .layui-layout-admin .layui-header .layui-logo {
        left: -260px
    }

    .layui-layout-admin .layui-header .layui-layout-left {
        left: 0
    }

    .layui-layout-admin .layui-header .layui-icon-shrink-right:before {
        content: "\e66b"
    }

    .layui-layout-admin.admin-nav-mini .layui-header .layui-logo {
        width: 220px;
        left: 0;
        z-index: 10001
    }

    .layui-layout-admin.admin-nav-mini .layui-header {
        z-index: auto
    }

    .layui-layout-admin.admin-nav-mini .layui-header .layui-logo cite {
        display: inline-block
    }

    .layui-layout-admin.admin-nav-mini .layui-header .layui-layout-left {
        left: 0
    }

    .layui-layout-admin.admin-nav-mini .layui-side {
        width: 220px;
        left: 0
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav {
        width: 220px
    }

    .layui-layout-admin.admin-nav-mini .layui-side-scroll {
        width: 240px
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a > cite {
        display: inline-block
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a .layui-nav-more {
        display: inline-block
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item > a {
        overflow: hidden
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav li.layui-nav-itemed > a {
        background: transparent
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav li.layui-nav-item > a:hover {
        background: rgba(255, 255, 255, .03)
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-itemed > .layui-nav-child {
        display: block
    }

    .layui-layout-admin.admin-nav-mini .layui-body {
        left: 0
    }

    .layui-layout-admin.admin-nav-mini .layui-footer {
        left: 0
    }

    .layui-layout-admin.admin-nav-mini .site-mobile-shade {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .1);
        z-index: 9999;
        cursor: pointer
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-itemed > a {
        background: transparent
    }

    .layui-layout-admin.admin-nav-mini .layui-header .layui-icon-shrink-right:before {
        content: "\e668"
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-item.admin-nav-hover > .layui-nav-child {
        display: none;
        position: static;
        background-color: rgba(0, 0, 0, .3) !important;
        min-width: 100%
    }

    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav .layui-nav-itemed.admin-nav-hover > .layui-nav-child {
        display: block
    }

    .layui-layout-admin .layui-nav .layui-breadcrumb span,
    .layui-layout-admin .layui-nav .layui-breadcrumb a:not(:last-child) {
        display: none;
    }
}


/* ----- 导航小屏幕样式 ----- */


/* ----- 底部样式 ----- */

.layui-layout-admin .layui-footer {
    left: 200px;
    background: #fff;
    transition: all .3s;
    color: #666;
    border-top: 1px solid #eee;
    height: 43px;
}

/* ----- 底部样式 ----- */


/* ----- iframe 样式 ----- */

.layui-iframe {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px) !important;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    border: none;
}

/* ----- iframe 样式 ----- */


/* ----- 右键菜单样式 ----- */

.rightmenu {
    position: absolute;
    width: 100px;
    z-index: 9999;
    display: none;
    background-color: #fff;
    padding: 2px;
    color: #333;
    border: 1px solid #eee;
    border-radius: 2px;
    cursor: pointer;
}

.rightmenu li {
    text-align: center;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 8px 0 8px 0;

}

.rightmenu li:hover {
    background-color: #f2f2f2;
    color: #000000;
}


/* ----- 右键菜单样式 ----- */

html {
    font-style: normal;
}