<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片审核配置</title>
    <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}">
    <script th:src="@{/static/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/layui/layui/layui.js}"></script>
</head>
<body>
<div class="layui-main" style="width: 50%;margin-top: 50px;">
    <h2>百度鉴黄Key配置</h2>
    <br/>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">鉴黄检测</label>
            <div class="layui-input-block">
                <input id="open" type="checkbox" name="close" lay-skin="switch" lay-filter="switchTest"
                       lay-text="ON|OFF">
                <!--                <input type="checkbox"  name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">-->
                <span style="color: #DAA5A6;">开启前保证下方信息填写正确</span>
            </div>
        </div>
        <hr/>
        <div class="layui-form-item">
            <label class="layui-form-label">APP_ID</label>
            <div class="layui-input-block">
                <input id="appid" type="text" name="title" autocomplete="off" placeholder="APP_ID" class="layui-input"
                       th:value="${appid}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">API_KEY</label>
            <div class="layui-input-block">
                <input id="apikey" type="text" name="title" autocomplete="off" placeholder="API_KEY" class="layui-input"
                       th:value="${apikey}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SECRET_KEY</label>
            <div class="layui-input-block">
                <input id="secretkey" type="text" name="title" autocomplete="off" placeholder="SECRET_KEY"
                       class="layui-input" th:value="${secretkey}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <a class="layui-btn" lay-submit="" lay-filter="demo2" onclick="updataimgreview()">保存</a>
        </div>
    </form>
</div>
<script>
    /**
     * 禁用 ajax 缓存
     */
    $.ajaxSetup({
        cache: false
    });
    var using = [[${using}]];

    $(function () {
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                // layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                //     offset: '6px'
                // });
                if (this.checked == true) {
                    var appid = $("#appid").val();
                    var apikey = $("#apikey").val();
                    var secretkey = $("#secretkey").val();
                    if (appid != "" && apikey != "" && secretkey != "") {
                        imgreview(1);
                    }else{
                        layer.msg("开启失败，各项内容不能为空", {icon: 2});
                    }
                } else {
                    imgreview(0);
                }
                //layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

        });

        if (using == 1) {
            $('#open').attr("checked", 'hellohao'); //增加属性
        } else {
            $('#open').removeAttr("checked"); //移除属性
        }
    });

    function imgreview(values) {
        $.ajax({
            type: "POST",
            url: "/admin/root/ImgreviewSwitch",
            dataType: "text",
            data: {using: values},
            success: function (data) {
                var vals = Number(data);
                if (vals > 0) {
                    if (values == 1) {
                        layer.msg('鉴黄检测已开启');
                    } else {
                        layer.msg('鉴黄检测已关闭');
                    }
                } else {
                    layer.msg('系统异常，请刷新重试。');
                }
            }
        });
    }

    //修改百度图片鉴别
    function updataimgreview() {
        var appid = $("#appid").val();
        var apikey = $("#apikey").val();
        var secretkey = $("#secretkey").val();
        if (appid != "" && apikey != "" && secretkey != "") {
            $.ajax({
                type: "POST",
                url: "/admin/root/ImgreviewSwitch",
                dataType: "text",
                data: {appId: appid, apiKey: apikey, secretKey: secretkey},
                success: function (data) {
                    var vals = Number(data);
                    if (vals > 0) {
                        layer.msg("保存成功", {icon: 1});
                        //window.location.reload();
                    } else {
                        layer.msg("保存失败，请尝试刷新页面后操作", {icon: 2});
                    }
                }
            });
        } else {
            layer.msg("各项内容均不能为空", {icon: 2});
        }

    }

</script>
</body>
</html>