<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<!-- 尾部 -->
<!--<footer class="footer ">-->
<th:block th:fragment="foot">
    <div class="container">
        <div class="rows footer-top">
            <div class="col-md-6 col-lg-6">
                <h4>
                    <!--<img src="/static/img/logo.png">-->
                    <img id="logos" style="max-width: 300px;max-height: 40px;" src="https://hellohao.nos-eastchina1.126.net/%E7%BD%91%E7%AB%99%E7%B4%A0%E6%9D%90/logo2.png">
                </h4>
                <p id="explain"></p>
            </div>
            <div class="col-md-6  col-lg-5 col-lg-offset-1">
                <div class="rows about">
                    <div class="col-sm-3">
                        <h4></h4>
                        <ul class="list-unstyled">
<!--                            <li><a href="#">对象存储</a></li>-->
<!--                            <li><a href="https://www.ucloud.cn/">Ucloud</a></li>-->
<!--                            <li><a href="http://staticfile.org/">StaticfileCDN</a></li>-->
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>友情链接</h4>
                        <ul class="list-unstyled">
<!--                            <li><a href="http://www.hellohao.cn/" rel="nofollow" title="Hellohao官方博客" target="_blank">作者博客</a>-->
<!--                            </li>-->
<!--                            <li><a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=93103128">Hellohao</a></li>-->
<!--                            <li><a href="mailto:Helloshihao@163.com">电子邮件</a></li>-->
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4></h4>
                        <br />
                        <ul class="list-unstyled" id="links">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <br/>
        <div class="rows footer-bottom" style="height: 50px;margin-top: 100px;">
            <center>
                <hr/>
                <!--            <p class="list-inline text-center" th:utext="${text_foot}"></p>-->
                <p class="list-inline text-center"><span><a href="http://www.hellohao.cn/" target="_blank"></a></span>&copy;<span id="footeds"></span>
                </p>
            </center>
        </div>
    </div>
</th:block>
<!--</footer>-->


</body>
</html>