<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<!-- 尾部 -->
<!--<footer class="footer ">-->
<th:block th:fragment="foot">
    <div class="container">
        <div class="rows footer-top">
            <div class="col-md-6 col-lg-6">
                <h4>
                    <img src="/static/img/logo.png">
                </h4>
                <p>网站有Hellohao独立编写，页面全部组件由BootStrap/SpringBoot编写。</p>
                <p>更多功能持续开发中..</p>
            </div>
            <div class="col-md-6  col-lg-5 col-lg-offset-1">
                <div class="rows about">
                    <div class="col-sm-3">
                        <h4>资源供应商</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://www.163yun.com">网易NOS</a></li>
                            <li><a href="https://www.ucloud.cn/">Ucloud</a></li>
                            <li><a href="http://staticfile.org/">StaticfileCDN</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.hellohao.cn/" title="Hellohao官方博客" target="_blank">作者博客</a>
                            </li>
                            <li><a href="mailto:Helloshihao@163.com">电子邮件</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>旗下网站</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.hellohao.cn/" target="_blank">Hellohao博客</a></li>
                            <li><a href="http://json.hellohao.cn/" target="_blank">json格式化</a></li>
                            <li><a href="/" target="_blank">友情链接</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="rows footer-bottom">
            <ul class="list-inline text-center" th:utext="${text_foot}"></ul>
        </div>
    </div>
</th:block>
<!--</footer>-->
</body>
</html>