<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="keywords" th:content="${config.getWebkeywords()}" />
	<meta name="description" th:content="${config.getWebms()}" />
	<meta name="author" content="Hellohao" />
	<title th:text="${config.getWebname()}"></title>
	<link rel="shortcut icon" th:href="${config.getWebfavicons()}" type="image/x-icon"/>
	<link rel="icon" type="image/ico" th:href="${config.getWebfavicons()}" />
	<link rel="stylesheet" th:href="@{css/style.css}" type="text/css" />
	<link th:href="@{/webuploade/css/webuploader.css}" media="all" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webuploade/css/style.css}" media="all" rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/static/css/login-register.css}" media="all" rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/css/sweetalert.min.css}" media="all" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webuploade/css/component.css}" media="all" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{/css/intro.css}" />
	<link rel="stylesheet" th:href="@{/css/verify.css}" />
	<link rel="stylesheet" th:href="@{/static/css/animate.min.css}" />

	<style type="text/css">
		a{
			text-decoration: none;
		}
		a:hover {
			text-decoration: none;
		}
/*		#usersrc a{
			transition: all 0.6s;
		}
		#usersrc a:hover{
			transform: scale(1.4);
		}*/
		#usersrc{
			cursor: default;
		}
		.goupdate {
			text-decoration: none;
			background: none;
			border: 0;
			box-shadow: inset 0 0 0 2px white;
			box-sizing: border-box;
			margin: 1em;
			padding: 1em 2em;
			font-size: inherit;
			position: relative;
			vertical-align: middle;
		}
		.goupdate::before, .goupdate::after {
			box-sizing: inherit;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.goupdate{
			isolation: isolate;
			width:140px;
			height:50px;
			margin-right: 6%;
			font-size:15px;
			text-align:center;
			float: right;
			color:#FFF;
			cursor:pointer;
		}
		#beian a{
			color: #fff;
		}
		#setday{
			cursor: pointer;
			color: #4ebc86;
			font-weight: 600;
			font-family: 黑体;
			text-shadow: 5px 2px 6px #000;
		}
		.goupdate {
			transition: color 0.25s;
		}
		.goupdate::before, .goupdate::after {
			border: 2px solid transparent;
			width: 0;
			height: 0;
		}
		.goupdate::before {
			top: 0;
			left: 0;
		}
		.goupdate::after {
			bottom: 0;
			right: 0;
		}
		.goupdate:hover {
			color: #60daaa;
		}
		.goupdate:hover::before, .goupdate:hover::after {
			width: 100%;
			height: 100%;
		}
		.goupdate:hover::before {
			border-top-color: #60daaa;
			border-right-color: #60daaa;
			transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
		}
		.goupdate:hover::after {
			border-bottom-color: #60daaa;
			border-left-color: #60daaa;
			transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
		}
		.copytext{
			z-index: 99999;
			display: block;
			color: #4ebd87;
			position: relative;
			right: 22px;
			top: 21px;
			font-weight: 700;
			float: right;
		}
		.copytext:hover{
			cursor:pointer;
		}

		#urls::-webkit-scrollbar-track {
			-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
			background-color:#F5F5F5;
		}
		#urls::-webkit-scrollbar {
			width:6px;
			background-color:#F5F5F5;
		}
		#urls::-webkit-scrollbar-thumb {
			background-color:#4ebd87;
		}
		#jyupdate{
			color: #4ebd87;font-size: 0.9em;cursor:pointer;font-weight: bold;
		}
	</style>
</head>
<body class="simple" id="body">
<div class="text-center w-mian" id="videohtml">
</div>
<div class="preloader-container">
	<div class="content-container">
		<span class="spinner-section-far"></span>
		<h6 class="preloader-text">
			LOADING</h6>
	</div>
</div>
<img class="img-logo menu-link" data-section="home" data-nav-title="home" alt="logo" th:src="@{img/logo_white.png}" />
<div class="open">
	<div class="cls">
	</div>
	<div>
		<ul class="sub-menu-t" id="usersrc">
			<li class="active"><a class="menu-link" data-section="home" data-nav-title="home"
								  data-section-pos="0" data-section-posy="0">首页 <i class="fa fa-fw fa-home"></i>
			</a></li>
			<li><a href="javascript:;" class="md-trigger" data-modal="modal-3">登录&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
			<li><a href="javascript:;" class="md-trigger" data-modal="modal-4">注册 <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a></li>

<!--			<li><a class="menu-link" href="https://github.com/Hello-hao/Tbed" target="_blank"-->
<!--			>GitHub<i class="fa fa-github"></i></a></li>-->
<!--			<li><a class="menu-link" href="http://www.hellohao.cn" target="_blank"-->
<!--			>作者<i class="fa fa-github"></i></a></li>-->

<!--							<li><a href="javascript:;" class="md-trigger" data-modal="modal-2">赞助商&nbsp;<i class="fa fa-share-alt"></i></a></li>-->

<!--											<li><a class="menu-link" onclick="Popups('亲爱的开发者','全新的响应式图床站，如果你也喜欢，希望给我一个Star。\n Hellohao开发者交流群：864800972','success');"-->
<!--							>关于<i class="fa fa-share-alt"></i></a></li>-->
		</ul>
	</div>
	<div class="cls">
	</div>
</div>
<div class="page-container">
	<div class="section-container">
		<section id="diyi" class="home-section">
			<div class="bg-container"></div>
			<div class="content col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-rlt no-pad centering-y">
				<div class="col-md-12 col-sm-12">
					<h1 class="animated" id="webtext" style="font-size: 3.5em;" th:text="${config.getWebname()}"></h1>
					<a id="goupdate" class="menu-link goupdate" data-section="contact" data-nav-title="contact" data-section-pos="-100"
					   data-section-posy="0"><span class="glyphicon glyphicon-open" aria-hidden="true"></span>立即上传</a>
<!--					<a id="goupdate2"  onclick="xiazai()" class="goupdate">-->
<!--						<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>客户端</a>-->
					<br />
					<div class="sub-title" id="wordsrotator">
						<h4>纯粹免费的图片驿站</h4>
					</div>
					<p class="desc" th:text="${config.getExplain()}">
						Hellohao Figure bed：support several mainstream object storage, CDN acceleration is more stable.
						Technology constantly updated, we will always move forward on the road ahead.
					</p>
					<center>
					<div id="countdown" class="countdown-container" style="text-align: center;">
						<br />
						<div class="dash days_dash" style="max-width: 172px;">
							<div class="counter">
								<div class="dash_title">days</div>
								<div id="ri" style="margin-top: 26%;font-size: 2.5em;color: #FFFFFF;font-weight: bold;">0</div>
							</div>
						</div>
						<div class="dash hours_dash" style="max-width: 172px;">
							<div class="counter">
								<div class="dash_title">hours</div>
								<div id="shi" style="margin-top: 26%;font-size: 2.5em;color: #FFFFFF;font-weight: bold;">0</div>
							</div>
						</div>
						<div class="dash minutes_dash" style="max-width: 172px;">
							<div class="counter">
								<div class="dash_title">mins</div>
								<div id="fen" style="margin-top: 26%;font-size: 2.5em;color: #FFFFFF;font-weight: bold;">0</div>
							</div>
						</div>
						<div class="dash seconds_dash" style="max-width: 172px;">
							<div class="counter">
								<div class="dash_title">secs</div>
								<div id="miao" style="margin-top: 26%;font-size: 2.5em;color: #FFFFFF;font-weight: bold;">0</div>
							</div>
						</div>
					</div>
					</center>
				</div>

				<div id="beian" style="text-align: center;float: initial;z-index: 99999;margin-top: 30px;">
					<br />
					<span style="margin-top: 20px;" th:utext="${config.getLinks()}">
					<a href="http://www.hellohao.cn">Hellohao©技术支持</a>
					</span>
					<br />
					<br />
					<br />
				</div>
			</div>
		</section>
		<div class="tlinks">Collect from <a href="/" >网站建设</a></div>
		<section id="dier" class="contact-section" >
			<ul style="  position: absolute;right: 63px;top: 24px;z-index: 9999;">
				<li class="active">
					<a class="menu-link" data-section="home" data-nav-title="home"data-section-pos="0" data-section-posy="0">
						<i class="fa fa-fw fa-home" style="font-size: 40px;color: #FFF;"></i>
					</a>
				</li>
			</ul>
			<div class="bg-container-static"></div>
			<div class="content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-pad centering-y col-sm-rlt" >
				<div class="col-md-12 col-sm-12">
					<form enctype="multipart/form-data">
						<!--图片上传模板-->
						<div id="wrapper">
							<div id="container">
								<!--头部，相册选择和格式选择-->
								<div id="uploader">
									<div class="queueList">
										<div id="dndArea" class="placeholder">
											<br />
											<span class="text">您也可以尝试文件拖拽，使用截屏工具，然后激活窗口后粘贴。<span id="whts" data-toggle="popover" title="Example popover" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
											<br />
											<span class="text" id="urlsc" ><a style="color: #4ebd87;font-size: 0.9em;cursor:pointer;font-weight: bold;" onclick="imgsc()">使用图片URL地址上传</a></span>
											<div id="filePicker">

											</div>
										</div>
									</div>
									<div class="statusBar" style="display:none;">
										<div class="progress">
											<span class="text">0%</span>
											<span class="percentage"></span>
										</div><div class="info"></div>
										<div class="btns">
											<div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<form class="contact-form" action="contact.php" method="post" enctype="multipart/form-data">
						<div class="col-xs-12 text-center no-pad">
							<div class="input-container no-mrg" id="urlstext">
								<a  class="copytext" onclick="copyText()">
									COPY
								</a>
								<textarea id="urls" name="message" readonly="readonly"  style="padding:20px;font-weight: 600; border: 1px solid #838383;border-radius: 5px;"></textarea>
								<div class="input-border-bottom"></div>
							</div>
							<div class="col-xs-12 notif-container no-pad">
								<div class="form-notif"></div>
							</div>
						</div>
					</form>
					<div class="col-xs-12 no-pad text-left mrg-top-xs">
						<div style="margin: 0 auto;text-align:center">
							<button type="button" style="width: 195px;height: 36px;padding: 10px 50px;" onclick="urltype(1);" class="button button-green button-small">URL</button>
							<button type="button" style="width: 195px;height: 36px;padding: 10px 50px;" onclick="urltype(2);"  class="button button-green button-small">Markdown</button>
							<button type="button" style="width: 195px;height: 36px;padding: 10px 50px;" onclick="urltype(3);"  class="button button-green button-small">HTML</button>
							<button type="button" style="width: 195px;height: 36px;padding: 10px 50px;" onclick="urltype(4);"  class="button button-green button-small">BBCode</button>
							<!-- New Album-->
							<button type="button" style="width: 195px;height: 36px;padding: 10px 50px;background: #FC5348;color: #FFF;" onclick="anniu();"  class="button button-green button-small">创建画廊</button>
                        </div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<!--登录弹窗-->
<div class="md-modal md-effect-3" id="modal-4">
	<div class="md-content"  >
		<h3>账号注册</h3>
		<div>
			<p style="color: #ea1c27;" id="zcts"></p>
			<div class="form loginBox">
				<form method="post" data-remote="true" accept-charset="UTF-8">
					<div style="font-size: 13px;">
                                        <span> > 用户名注册后不能修改<br/>
                                         > 邮箱激活链接如果没有请在【垃圾箱】查找</span>
					</div>
					<hr/>
					<input id="registerusername" style="border-left:none;border-right:none;border-top:none;border-bottom:none;"  type="text"
						   placeholder="用户名(数字/字母不得超过10位)"
						   name="username">
					<input id="registeremail" style=" border-left:none;border-right:none;border-top:none;border-bottom:none;"  type="text" placeholder="邮箱"
						   name="email">
					<input id="registerpassword" style="color:#000;background-color:#fff;padding: 18px 25px 22px 25px;; border-left:none;border-right:none;border-top:none;border-bottom: none;"  type="text" placeholder="密码"
						   name="password">
					<input id="registerpassword_confirmation" style="color:#000;background-color:#fff;padding: 18px 25px 22px 25px; border-left:none;border-right:none;border-top:none;border-bottom: none;"  type="text"
						   placeholder="重复密码" name="password_confirmation">
					<div class="form-group">
						<br />
						<div id="mpanel2" ></div>
						<hr />
					</div>
				</form>
			</div>
			<div style="width: 100%;height: 30px;">
				<p id="zctishi" style="color: #000;font-weight: 700; display: none;">正在注册，请稍等...</p>
				<br />
				<button class=" btn-sm btn-primary" style="float: right;border-radius: initial;background: rgb(78, 189, 135);border: 0px;width: 100%;" id="userzc" onclick="ismail();">注册</button>
			</div>
		</div>
	</div>
</div>

<!--	注册-->
<div class="md-modal md-effect-3" id="modal-3">
	<div class="md-content">
		<h3>账号登录</h3>
		<div>
			<p id="dlts" style="color: #f35518; text-align: center;"></p>
			<div class="form loginBox">
				<form id="login" onkeydown="keyLogin();">
					<div class="form-group">
						<input id="loginemail" type="email" style=" border-left:none;border-right:none;border-top:none;border-bottom:1px solid #0F2543;"  placeholder="Email">
					</div>
					<div class="form-group">
						<input id="loginpassword" type="password" style="color:#000;background-color:#fff;padding: 18px 25px 22px 25px;width: 100%; border-left:none;border-right:none;border-top:none;border-bottom:1px solid #0F2543;"   placeholder="Password">
						<hr />
					</div>
					<div class="form-group">
						<div id="mpanel1" ></div>
						<hr />
					</div>
				</form>
			</div>
			<div style="width: 100%;height: 30px;">
				<button class=" btn-sm btn-primary" data-loading-text="Loading..." id="dl" style="float: right;float: right;border-radius: initial;background: rgb(78, 189, 135);border: 0px;width: 100%;display: block;height: 30px;" onclick="loginAjax()">登录</button>
			</div>
		</div>
	</div>
</div>

<div class="md-overlay"></div>
<script type="text/javascript" th:src="@{js/jquery.js}"></script>
<script th:src="@{/static/js/login-register.js}"></script>
<script th:src="@{/static/js/clipboard.min.js}"></script>
<script th:src="@{/static/js/bootbox.min.js}"></script>
<script th:src="@{/static/js/sweetalert2.min.js}"></script>
<script th:src="@{/layui/layui/layui.js}"></script>
<script th:src="@{/js/jquery.qrcode.min.js}"></script>
<script th:src="@{/webuploade/js/webuploader.js}"></script>
<script th:src="@{/webuploade/js/upload.js}" ></script>
<script th:src="@{/webuploade/js/classie.js}"></script>
<script th:src="@{/webuploade/js/modalEffects.js}" ></script>
<script th:src="@{js/html5shiv.js}"></script>
<script th:src="@{js/respond.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins.min.js}"></script>
<script type="text/javascript" th:src="@{js/main_constellation.js}"></script>
<script th:src="@{/js/verify.js}"></script>
<script th:src="@{/js/base64.min.js}"></script>
<script th:src="@{/js/js.cookie.min.js}"></script>
<script th:src="@{/js/hellohao.js}"></script>
<script th:inline="javascript">
	var isday = 0;
	var verification = false;
	var zcverification = false;
	var logotmp = 0;
	var zctmp = 0;
	var arr_url = "";
	var arr_markdown = "";
	var arr_html = "";
	var arr_ddcode = "";
	var urltypes = 1;//1 url 2 md 3 a标签 4 论坛格式
	var VisitorUpload = [[${VisitorUpload}]];
	var filesize = [[${filesize}]];
	var imgcount = [[${imgcount}]];
	var suffix= [[${suffix}]];
	var theme = [[${config.getTheme()}]];
	var qq ='hellohao-code-yz';
	var layer;
	layui.use('layer', function(){
		layer = layui.layer;
	});
	var oDiv=document.getElementById('body');
	var x = 10;
	var y = 1;
	var rand = parseInt(Math.random() * (x - y + 1) + y);
	var c1 = '';
	var c2 = '';
	if(rand==1){c1 = '26d9b3';c2 = '5a84fd';}
	else if(rand==2){c1 = '6DE195';c2 = 'C4E759';}
	else if(rand==3){c1 = '41C7AF';c2 = '54E38E';}
	else if(rand==4){c1 = '99E5A2';c2 = 'D4FC78';}
	else if(rand==5){c1 = 'A16BFE';c2 = 'DEB0DF';}
	else if(rand==6){c1 = 'F78FAD';c2 = 'FDEB82';}
	else if(rand==7){c1 = 'BC3D2F';c2 = 'A16BFE';}
	else if(rand==8){c1 = 'A43AB2';c2 = 'E13680';}
	else if(rand==9){c1 = '8DEBFF';c2 = '41D8DD';}
	else{c1 = '5583EE';c2 = '5a84fd';}
	oDiv.style.cssText="background: #"+c1+";background: -moz-linear-gradient(right, #"+c1+" 0%, #"+c2+" 100%);background: -webkit-linear-gradient(right, #"+c1+" 0%, #"+c2+" 100%);background: linear-gradient(to right,  #"+c1+" 0%, #"+c2+" 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#"+c1+"', endColorstr='#"+c2+"',GradientType=1 );";

	$(document).ready(function () {
		$(".jb").fadeToggle();
		$(".jb").fadeToggle(4000);
	});

	if (window != top){top.location.href = location.href;}

	$(function () {
		var backtype = [[${config.getBacktype()}]];
		var sc = [[${error}]];
		if(sc!=1 && sc!=null){
			alert(sc);
		}
		var gg=[[${config.getNotice()}]];
		var arr=new Array();
		var arr2=new Array();
		//可以用字符或字符串分割
		arr=gg.split('|');
		for(var i=0;i<arr.length;i++)
		{arr2.push('<h2>'+arr[i]+'</h2>');}
		$.wordrotator_words =arr2;
		setInterval(clock,1000);//首页动态时间
		//设置页面资料
		var webname = [[${config.getWebname()}]];
		var explain = [[${config.getExplain()}]];
		var backtype = [[${config.getBacktype()}]];
		var links = [[${config.getLinks()}]];
		var video = [[${config.getVideo()}]];
		$("#webname").text(webname);
		$("#explain").text(explain);
		$("#links").html(links);
		$("#whts").attr("title",'图片大小不得超过'+[[${uploadConfig.getFilesizetourists()}]]+' MB，登录本站可上传'+[[${uploadConfig.getFilesizeuser()}]]+' M图片以及查看历史图片记录等更多操作。');

	});

	var baidu = [[${config.getBaidu()}]];
	loadScriptString(baidu);

	(function ($) {
		var backtype = [[${config.getBacktype()}]];
		var videourl = [[${config.getVideo()}]];
		"use strict";
		if(backtype==1){
			$.bg_urls = [
				[[${config.getBackground1()}]]
			];
		}else{
			$('#videohtml').html('\t<video muted autoplay="autoplay" loop="loop"  class="bgvid" id="bgvid" style="width: 100%;height: 100%;display: block;object-fit: fill;"><source src="'+videourl+'" type="video/mp4"></video>');
		}
		$.youtube_url = ""; 												//-- just the last words after https://www.youtube.com/watch?v=
		$.self_host_video_path = ""; 									//-- self hosted video path
		$.self_host_video_filename = ""; 								//-- self hosted video filename "WITHOUT .MP4 EXTENSION"
		$.latitude_longitude = [ [21.1991367, 72.84016666] ];
		$.map_marker_url = "img/marker.png"; 							//-- Map marker image url
		$.map_marker_info = '<h6 class="text-darkgrey">Main Office</h6><p class="map-marker-info">Open at 09:00 - 15:00<br>Monday till Saturday</p>';
		$.enable_wordrotator = true; 									//-- enabling wordrotator on headline text
		$.wordrotator_words = ['<h2>也许...</h2>', '<h2>这将是你用过最好用的图床站</h2>']; //-- Array of words, for headline text
		$.is_changing_section = false;

		var sett = [[${config.getSett()}]];
		if(sett!=1){
			$('#diyi').removeClass('home-section');
			$('#diyi').html('');
			$('#dier').addClass('home-section');
			$('#dier').removeClass('contact-section');
			$('#dier').css("background","rgba(38,38,38,0.7)");//style="background: rgba(38,38,38,0.7);"
		}

	})(jQuery);

	$('#mpanel1').slideVerify({
		type : 1,		//类型
		vOffset : 5,	//误差量，根据需求自行调整
		barSize : {
			width : '100%',
			height : '40px',
		},
		ready : function() {
		},
		success : function() {
			verification = true;
			var myDate = new Date(); 
			var tmp = Number(myDate.getMinutes()+''+myDate.getSeconds());
			logotmp = (tmp-500+1+2+3-4);
			$.ajax({
				type: "POST",
				url: "/user/verification",
				data:{tmp:logotmp,type:1},
				dataType: "json",
				success: function (data) {}
			});
			},
			error : function() {}
	});

	$('#mpanel2').slideVerify({
		type : 1,		//类型
		vOffset : 5,	//误差量，根据需求自行调整
		barSize : {
			width : '100%',
			height : '40px',
		},
		ready : function() {
		},
		success : function() {
			zcverification = true;
			var myDate = new Date();
			var tmp = Number(myDate.getMinutes()+''+myDate.getSeconds());
			zctmp = (tmp-500+1+2+3-4);
			$.ajax({
				type: "POST",
				url: "/user/verification",
				data:{tmp:zctmp,type:2},
				dataType: "json",
				success: function (data) {}
			});
		},
		error : function() {}
	});

	function again(v) {
		if(v==1){
			logotmp=0;
			verification = false;
			$('#mpanel1').html('');
			$('#mpanel1').slideVerify({
				type : 1,		//类型
				vOffset : 5,	//误差量，根据需求自行调整
				barSize : {
					width : '100%',
					height : '40px',
				},
				ready : function() {
				},
				success : function() {
					verification = true;
					var myDate = new Date();
					var tmp = Number(myDate.getMinutes()+''+myDate.getSeconds());
					logotmp = (tmp-500+1+2+3-4);
					$.ajax({
						type: "POST",
						url: "/user/verification",
						data:{tmp:logotmp,type:1},
						dataType: "json",
						success: function (data) {}
					});
				},
				error : function() {}
			});
		}
		if(v==2){
			zctmp=0;
			zcverification = false;
			$('#mpanel2').html('');
			$('#mpanel2').slideVerify({
				type : 1,		//类型
				vOffset : 5,	//误差量，根据需求自行调整
				barSize : {
					width : '100%',
					height : '40px',
				},
				ready : function() {
				},
				success : function() {
					verification = true;
					var myDate = new Date();
					var tmp = Number(myDate.getMinutes()+''+myDate.getSeconds());
					zctmp = (tmp-500+1+2+3-4);
					$.ajax({
						type: "POST",
						url: "/user/verification",
						data:{tmp:zctmp,type:2},
						dataType: "json",
						success: function (data) {}
					});
				},
				error : function() {}
			});
		}
	}

	function setday() {
		swal("输入图片期限（天）,到期自动销毁图片,最高365天：\n(输入0为永久保存)", {
			content: "input",
			html: true,
		})
		.then((value) => {
		var result =value;
		var reg=/^[0-9]\d*$/;
			if(result!=null && result!="" ){
				if(reg.test(result)){
					if(result<=365){
						isday = result;
						// 初始化以后添加
						uploader.options.formData.setday = isday;
					}else{
						swal('输入天数有误，最大不可超过365天');
					}
				}else{
					swal('输入格式不正确，只可输入0-9之间正整数');
				}
			}
			if(isday>0){
				$('#setday').text(isday+'天后销毁');
			}else{
				$('#setday').text('图片期限');
			}
		});
	}
	var win = null;
	function anniu(){
		if(arr_html!=null && arr_html!=""){
			win = layer.open({
				title:'画廊分享',
				type: 2,
				area: ['870px', '500px'],
				fixed: false, //不固定
				maxmin: true,
				content: '/addalbum'
			});
		}else{
			layer.msg('请先上传图片后再生成画廊', {icon: 7});
		}

		if($(window).width()<=880){
			layer.full(win);
		}
	}

	//浏览器窗口大小变化时
	$(window).resize(function() {
		if(win!=null){
			var window_width = $(window).width();
			var window_height = $(window).height();
			if(window_width<880){
				layer.full(win);
			}
		}
	});

	function Popup(url,pass) {
		layer.close(win);
		if(pass==null || pass==''){
			pass = '无'
		}
		var imgbase64 = jrQrcode.getQrBase64(url);
		var body = '<div class="layui-row">\n' +
				'<form class="layui-form" action="">\n' +
				'<div class="layui-form-item" style="width: 80%;margin: 20px auto;">\n' +
				'<div class="layui-input-block" style="margin-left: 0px;">\n' +
				'<input id="albumurl" value="'+url+'" style="color:#999;border-radius:5px;border:1px #999 solid;" readonly="readonly" type="text" name="title" lay-verify="title"  class="layui-input">\n' +
				'</div>\n' +
				'<div class="layui-form-mid "style="width:100%;text-align: center;color: #999999;font-weight: 500;">画廊密码：<span id="ckey" style="font-weight: 600;">'+pass+'</span><button onclick="copyurl()" style="margin-left: 50px;" type="button" class="copyurl layui-btn layui-btn-sm layui-btn-normal">复制链接及密码</button></div>\n' +
				'</div>\n' +
				'</form>\n' +
				'</div>\n' +
				'<div class="layui-row">\n' +
				'<div align="center"><img style="width: 150px;" src="'+imgbase64+'" /><p style="font-size: 12px;color: #999999;">将二维码分享给好友</p><p style="font-size: 12px;color: #999999;">对方通过扫码即可查看相册</p></div>\n' +
				'</div>';
		layer.open({
			type: 1,
			title:'画廊分享链接',
			area: ['520px', '400px'], //宽高
			//skin: 'layui-layer-demo', //样式类名
			closeBtn: 1, //不显示关闭按钮
			anim: 2,
			shadeClose: false, //开启遮罩关闭
			content: body
		});
	}
	function copyurl() {
		var data = "";
		var k = $('#ckey').text();
		var u = $('#albumurl').val();
		if(k=='无'){
			data = '画廊链接：'+u+ ' 复制这段内容后用浏览器打开，即可查看画廊哦';
		}else{
			data = '画廊链接：'+u+' 提取码：'+k+ ' 复制这段内容后用浏览器打开，即可查看画廊哦';
		}
		var copy = new ClipboardJS('.copyimgurl', {
			text: function (trigger) {
				return  data;
			}
		});
		copy.on('success', function (e) {
			layer.msg('复制成功');
			copy.off("success");
		});
		copy.on('error', function (e) {
			layer.msg("复制失败");
			copy.off("error");
		});
	}


</script>
<input th:value="${vu}" type="hidden" id="vu" />
</body>
</html>
