<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.ConfdataMapper">

    <select id="selectConfdata" resultType="cn.hellohao.pojo.Confdata">
        select * from confdata where `key`=#{key}
    </select>

    <update id="updateConfdata" parameterType="cn.hellohao.pojo.Confdata">
        UPDATE confdata
        <set>
            <if test="jsondata != null">
                jsondata = #{jsondata},
            </if>
        </set>
        where `key`=#{key}
    </update>


</mapper>