<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.GroupMapper">


    <select id="grouplist" resultType="cn.hellohao.pojo.Group">
        SELECT
        *
        FROM
        `group`
    </select>

    <select id="idgrouplist" parameterType="integer" resultType="cn.hellohao.pojo.Group">
        SELECT
            *
        FROM
            `group`
        where id = #{id}
    </select>

    <insert id="addgroup" parameterType="cn.hellohao.pojo.Group">
        insert into `group` (id,groupname,keyid) values (null,#{groupname},#{keyid})
    </insert>

    <delete id="delegroup" parameterType="integer">
        delete from `group` where id=#{id}
    </delete>

    <update id="setgroup" parameterType="cn.hellohao.pojo.Group">
        UPDATE `group` SET groupname=#{groupname},keyid=#{keyid} where id = #{id};
    </update>


</mapper>