<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.ImgMapper">

    <!-- 查询-->
    <select id="selectimg" parameterType="cn.hellohao.pojo.Images" resultType="cn.hellohao.pojo.Images">
        SELECT
        a.id,
        a.imgname,
        a.imgurl,
        b.username,
        a.updatetime,
        a.sizes,
        a.abnormal,
        a.source,
        a.imgtype
        FROM
        imgdata a
        LEFT JOIN user b ON a.userid = b.id
        where
        1=1
        <if test="userid != null">
            and
            userid = #{userid}
        </if>
        <if test="source != null">
            and
            source = #{source}
        </if>
        <if test="starttime != null">
            and
            updatetime &gt;= #{starttime}
        </if>
        <if test="stoptime != null">
            and
            updatetime &lt;= #{stoptime}
        </if>
        order by id desc
    </select>
    <!-- 此用户下总数 -->
    <select id="countimg" parameterType="integer" resultType="integer">
        select count(*) from imgdata where userid = #{userid}
    </select>

    <delete id="deleimg" parameterType="integer">
        DELETE FROM imgdata WHERE id=#{id}
    </delete>


    <select id="selectByPrimaryKey" parameterType="integer" resultType="cn.hellohao.pojo.Images">
        select * from imgdata where id = #{id}
    </select>

    <select id="counts" resultType="integer">
        select count(*) from imgdata where 1=1
        <if test="userid != null">
            userid=#{userid}

        </if>
    </select>

    <!-- 根据图片名字标记IP -->
    <update id="setabnormal" parameterType="string">
         UPDATE imgdata set abnormal=#{abnormal} where imgname=#{imgname}
    </update>
    <!-- 非法图片删除他  根据名称-->
    <delete id="deleimgname" parameterType="string">
        DELETE FROM imgdata WHERE imgname=#{imgname}
    </delete>

<!--    批量删除-->
    <delete id="deleall" parameterType="integer">
        DELETE FROM imgdata WHERE id = #{id}
    </delete>

    <select id="gettimeimg" parameterType="string" resultType="cn.hellohao.pojo.Images">
        SELECT * from  imgdata WHERE  updatetime>=#{time}
    </select>
<!--查询指定用户总内存-->
    <select id="getusermemory" parameterType="integer" resultType="integer">
        SELECT sum(sizes) FROM `imgdata` where userid = #{userid}
    </select>

</mapper>