<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.SysConfigMapper">

    <select id="getstate" resultType="cn.hellohao.pojo.SysConfig">
        select * from sysconfig where id = 1
    </select>

    <update id="setstate" parameterType="cn.hellohao.pojo.SysConfig">
        UPDATE sysconfig
        <set>
            <if test="register != null">
                `register` = #{register}
            </if>
        </set>
        where id=1
    </update>


</mapper>